# Drizzle
DATABASE_URL=local.db

# duckylib
PUBLIC_TABLET_SIZE_PX=1000
PUBLIC_MOBILE_SIZE_PX=700

# twitch
PRIVATE_MOD_ACCESS=false
PUBLIC_TWITCH_CLIENT_ID=
PRIVATE_TWITCH_CLIENT_SECRET=
PRIVATE_TWITCH_CHANNEL=

PUBLIC_TWITCH_OAUTH_REDIRECT_URI=
PUBLIC_APP_URL=

PRIVATE_CHATBOT_APP_URL=

PUBLIC_TWITCH_HELIX_BASE_URL=https://api.twitch.tv/helix
PUBLIC_TWITCH_OAUTH_BASE_URL=https://id.twitch.tv/oauth2

